@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style: none;
  padding: 0px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 16px;
  flex-shrink: 0;
}

.footer {
  background-color: #eeeeee;
}

.left-links, .right-links {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  font-size: small;
}

a {
  text-decoration: none;
  color: grey;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.buttons {
  display: flex;
  gap: 8px;
  height: 30px;
}