/* Add CSS Styling */
.odd {
    background-color: rgb(221, 102, 102);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.medium-size {
    font-size: 24px;
}

#number-two {
    color: rgb(40, 59, 230);
    font-size: 36px;
}

#number-four {
    background-color: rgb(100, 197, 133);
    font-weight: bold;
}

